---
- name: "Create config file {{ gobetween_install_dir }}/gobetween.toml"
  ansible.builtin.template:
    src: "gobetween.toml.j2"
    dest: "{{ gobetween_install_dir }}/gobetween.toml"
    owner: "{{ gobetween_owner_group }}"
    group: "{{ gobetween_owner_group }}"
    mode: '0644'
  notify:
    - Restart gobetween
  tags: config

- name: "Create init script for gobetween"
  ansible.builtin.template:
    src: "gobetween.service.j2"
    dest: "/etc/systemd/system/gobetween.service"
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart gobetween

- name: "Add conf to logrotate"
  ansible.builtin.template:
    src: gobetween.logrotate
    dest: /etc/logrotate.d/gobetween
    mode: '0644'
