---
- name: "Include preflight.yml"
  ansible.builtin.include_tasks: preflight.yml
  tags:
    - gobetween_install
    - gobetween_configure
    - gobetween_health
    - gobetween_run

- name: "Include install_app.yml"
  ansible.builtin.include_tasks: install_app.yml
  become: true
  tags:
    - gobetween_install

- name: "Include configure.yml"
  ansible.builtin.include_tasks: configure.yml
  become: true
  tags:
    - gobetween_configure

- name: "Include healthcheck.yml"
  ansible.builtin.include_tasks: healthcheck.yml
  become: true
  tags:
    - gobetween_health

- name: "Ensure gobetween service is started and enabled"
  become: true
  ansible.builtin.service:
    daemon_reload: true
    name: gobetween
    state: started
    enabled: true
    masked: false
  tags:
    - gobetween_run

- name: "flush handlers"
  ansible.builtin.meta: flush_handlers
